@use "./../../styles/variables.scss" as v;

.title {
  color: v.$secondary-green;
}
.paymentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  height: 100%;
}
